h2 {
	padding: 0.4em 0.5em;
	color: #000;
	background: #f0f0f0;
	border-left: solid 5px #7bd4e6;
	border-bottom: solid 3px #d7d7d7;
}

body {
font: 100% "Hiragino Sans", sans-serif ;
}
nav,footer {
font: 100% "ui-monospace", monospace;
}

